<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark ">
        
  <a style="color: yellowgreen;" class="navbar-brand px-4" href="#">LIFECARE HOSPITALS</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 

   
  </div>

</nav>


<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <div class="card mx-auto">
        <div class="card-header" style="background-color: honeydew;color: slateblue;">
          <h2 class="text-center">Add new Appointmtnt</h2>
        </div>
        <div class="card-body">
          <form #form="ngForm">
            <div class="row mt-2">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" #name="ngModel" id="name" name="name" placeholder="Enter Name" [(ngModel)]="appointment.name"
                 required minlength="3" >
                 <div class="text-danger">
                  @if ((name.touched || name.dirty) && name.errors?.['required']) {
                    <span>
                      {{validationMessage.REQUIRED}}
                    </span>
                  }@else if ((name.touched || name.dirty) && name.errors?.['minlength']) {
                    <span>Min 3 char required</span>
                  }
                 </div>
                
                
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group">
                <label for="">Age</label>
                <input type="text" class="form-control" id="age" name="age" placeholder="Enter Age" [(ngModel)]="appointment.age">
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group">
                <label for="">Symptoms</label>
                <input type="text" class="form-control" id="Symptoms" #symptoms="ngModel" name="Symptoms" placeholder="Enter Symptoms" [(ngModel)]="appointment.symptoms" required>
              <div class="text-danger">
                  @if ((name.touched || symptoms.dirty) && symptoms.errors?.['required']) {
                    <span>
                      {{validationMessage.REQUIRED}}
                    </span>
                  }
                 </div>  
              </div>
            </div>
            <div class="row mt-2">
              <div class="form-group">
                <label for="">Number</label>
                <input type="text" class="form-control" id="number" #number="ngModel" name="number" placeholder="Enter Number" [(ngModel)]="appointment.number" minlength="10">
                <div class="text-danger">
                  @if ((name.touched || number.dirty) && number.errors?.['minlength']) {
                    <span>
                     Min 10 char required
                    </span>
                  }
                 </div>  
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-3">
                <button class="btn  btn-warning" type="submit" (click)="onSubmit()" [disabled]="form.invalid">Submit</button>
              </div>

            </div>



          </form>
        </div>
      </div>
    </div>
  </div>
</div>